*{
    margin: 0;
    padding: 0;
}
.sectTwo_bg{
    background:#85117a;
    padding: 0.5em 1em 1em;
    cursor: pointer;
}
.secTwo_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}
.secTwo_subSec_grid{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap:0 1em;
         
}
.secTwo_subSec_grid img{
    width: 9rem;
    background-color: #04b749;
    padding: .8rem;
}
.secTwo_subSec_grid h1{
    color: #04b749;
}
.secTwo_subSec_grid p{
    color: #fff;
    text-align: justify;
}
.secTwo_subSec_grid span{
    color: #04b749;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
   .secTwo_subSec_grid{
    align-items: center;
   }
}
@media screen and (max-width: 600px) {
   .secTwo_grid{
    grid-template-columns: 1fr;
   }
   .secTwo_subSec_grid{
    flex-direction: column;
         
}
.secTwo_subSec_grid img{
    width: 5em;
    background-color: #04b749;
    padding: .8rem;
}
}

/* section three */
.secThree{
    padding: 1em;
}
.secThree h1{
    font-weight: bold;
}
.secThree_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 1.1em;
}
.secThree p{
    width: 70%;
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 0.8em;
}
.secThree_grid img{
    height: 43vh;
    object-fit: cover;
    border-radius: 1.2em 0 1.2em 0 ;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.5);
    
}
.secThree_grid img:hover{
    filter: contrast(120%);
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .secThree_grid img{
   width: 95%;
   margin: auto;
   }
   .secThree_grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    
   }

   
   @media screen and (max-width: 600px) {
    .image_bid_woman{
    width: 88%;
   }.secThree_grid{
    grid-template-columns: 1fr;
   }
   .secThree p{
    width: 100%;
    margin: auto;
}
   }
   .secThree_grid img{
    height: 60vh;
    object-fit: cover;
   }
   
}

/* section four */
.secFour{
    position: relative;
    
}
.secFour_div_colour_one{
    background-color: #8b1263;
    height: 20vh;
    padding: 1em;
}
.secFour_div_colour_two{
    background-color: #41062c;
    height: 20vh;
    padding: 1em;
}
.secFour_div_colour_green{
    background-color: #04b749;
    height: 20vh;
    padding: 1em;
    position: absolute;
    width: 70%;
    bottom: 4em;
    left: 12em;
       box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);

    border-radius: 1em;
}
.secFour_div_colour_green form{
    display: flex;
        /* box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.5); */

    justify-content: center;
    padding-top: 2em;
    
}
.secFour_div_colour_green form input{
    width: 60%;
    height: 3em;
    background-color: #e2e2e2;
    border-radius: 1em 0 0 1em;
    border: none;
    padding: 1em;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.5);

}
.secFour_div_colour_green form input:focus{
    background-color: #82fcb1;
    color: #000;
}
.secFour_div_colour_green form button{
    width: 10%;
    height: 3em;
        border-radius: 0 1em   1em 0;
  background-color: #8b1263;
      box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.5);

}
.secFour_div_colour_green form button image{
    object-position: center;
    
}
@media screen and (max-width: 1024px) {
    .secFour_div_colour_green{
        bottom: 6em;
    left: 10em;
    height: 15vh;
    }
    .secFour_div_colour_green form{
        margin-top: 1em;
    }
    .secFour_div_colour_one{
    height: 15vh;
}
.secFour_div_colour_two{
    height: 15vh;
}

     
}
@media screen and (max-width: 768px) {
     .secFour_div_colour_green{
        bottom: 4em;
    left: 4.5em;
    height: 15vh;
   width: 80%;
    }
 .secFour_div_colour_green form input{
    width: 70%;
    border-radius: .4em 0 0 .4em;
}
.secFour_div_colour_green form button{
    width: 20%;
        border-radius:0 .4em   .4em 0;
}
 .secFour_div_colour_green form{
        margin-top: 1em;
        padding: .8em;
       
    }
    .secFour_div_colour_green form input{
 height: 2rem;
    }
      .secFour_div_colour_green form button{
 height: 2rem;
    }
    .secFour_div_colour_green form button img{
        width: 2.5em;
    }
}
@media screen and (max-width: 600px) {
     .secFour_div_colour_green{
        bottom: 3em;
    left: 1em;
    height: 15vh;
   width: 90%;
    }

 .secFour_div_colour_green form{
        margin-top: 0;
        padding: .8em;
       
    }
    .secFour_div_colour_green form input{
 height: 2rem;
    }
      .secFour_div_colour_green form button{
 height: 2rem;
    }
    .secFour_div_colour_green form button img{
        width: 2.5em;
    }
}