.Form_page{
    width: 70%;
    margin:3em auto;
    padding: 2em;
}

.Form_page div label{
    padding-top: .8em;
    font-size: 1.1em;
}
.sign_inp{
    width: 90%;
    height: 2.5em;
    border:1px #000 solid;
    color: #000;
    font-size: 1.1em;
    padding: 0 1em;
    border-radius: .3em;
}
.sign_inp:focus{
    background-color: #82fcb1;
}
.name_inp{
    display: grid;
    grid-template-columns: 52% 52%;
}
.email{
    width: 99%;
}
.sign_btn{
    width: 20%;
    margin-top: .6em;
    background-color: #04b749;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: .3em 0;
    box-shadow: 3px 5px 3px rgba(0,0, 0, 0.5);
}
.sign_Up_line{
   border: 1px #fff solid;
}

/* sign */
.Form_page_div{
    width: 50%;
}
.Increase_btn{
    width: 99%;
   display: flex;
   justify-content: space-between;
}
.icons_ctrl{
    position: relative;
}
.icons_ctrl span{
    margin-left: -2em;
    z-index: 2;
}
.icons_ctrl span *{
    color: #04b749;
   cursor: pointer;
}
@media screen and (max-width:1024px) {
    .sign_btn{
    width: 40%; 
}
.Form_page_div{
    width: 50%;
}
.Form_page{
    width: 85%;
    margin:3em auto;
    padding: 2em;
}

}
@media screen and (max-width:600px) {
    .sign_btn{
    width: 95%;
}
.Form_page_div{
    width: 95%;
}
.sign_inp{
    width: 95%;
}
.name_inp{
    display: block;
}
.email{
    width: 95%;
}
}

