*{
    margin: 0;
   padding: 0; 
}
.picture_div{
   background-image: url("../images/backImage.png");
   background-size: contain;
    background-position: center;
   background-repeat: no-repeat;
   object-fit: fill;
   margin: 0;
   position: relative;      
}

.picture_div h1{
   font-size: 5rem;
   font-weight: 600;
   color: #fff;
}
.home_page_text{
 position: absolute;
   left: 6rem;
   top: 10rem;
}
.picture_div button{
   background-color:#04b749 ;
   font-size: 2rem;
   font-weight: 700;
   padding: 0.3em 0.5em ;
   border: none;
   border-radius: 0.3em;
   box-shadow: 3px 5px 3px rgba(0,0, 0, 0.5);
   color: #fff;
}